@mixin centerAlign {
    display: flex;
    align-items: center;
    justify-content: center;
}


.weather {
    position: relative;
    width: 100%;
    
    @include centerAlign;

    h1,h2{
        margin: 0;
        font-size: 2.5vmax;

        @media (max-width: 700px){
            margin-top: 10px;
        }
    }
    &-wrapper {
        @include centerAlign;
        flex-direction: column;
    }

    &-current{
        @include centerAlign;
        flex-direction: column;

        &__description {
            font-size: 2vmax;
        }
    }

    &-values {
        min-width: 20vw;
        display: flex;
        justify-content: space-between;

        &__icon {
            width: 2vmax;
            height: 2vmax;
        }

        >div {
            @include centerAlign;
            font-size: 1.5vmax;
            
        }
    }

    &-iconList{
        left: 0;
        top: 0;
    }
}

.loading {
    width: 100%;
    @include centerAlign;
}